
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/


.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.unityproj
*.booproj


.DS_Store
Thumbs.db


.collab/
Packages/packages-lock.json
